@model Product

@{
    ViewData["Title"] = "Products Details";
    IEnumerable<ProductImage> images = ViewBag.Images;
}

<ul class="breadcrumb">
    <li>
        <p><a asp-controller="home" asp-action="index">Admin</a></p>
    </li>
    <li>
        <p><a asp-action="index">Products</a></p>
    </li>
    <li><a class="active">Details</a> </li>
</ul>
<div class="page-title">
    <a asp-action="index">
        <i class="far fa-arrow-alt-circle-left"></i>
    </a>
    <h3>Admin - Products</h3>
</div>


<div class="row-fluid">
    <div class="span12">
        <div class="grid simple ">
            <div class="grid-body ">
                <form method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-row">
                        <div class="form-group col-12 col-md-6">
                            <div class="form-row">
                                <div class="form-group">
                                    <label asp-for="Name" class="control-label"></label>
                                    <p class="form-control">
                                        @Model.Name
                                    </p>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Price" class="control-label"></label>
                                    <p class="form-control">
                                        @Model.Price.ToString("0.##")
                                    </p>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ShortDescription" class="control-label"></label>
                                    <p class="form-control">
                                        @Model.ShortDescription
                                    </p>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Weight" class="control-label"></label>
                                    <p class="form-control">
                                        @Model.Weight.ToString("0.##")
                                    </p>
                                </div>
                                <div class="form-group">
                                    <label asp-for="UnitId" class="control-label"></label>
                                    <p class="form-control">
                                        @Model.Unit.Name
                                    </p>
                                </div>
                                <div class="form-group">
                                    <label asp-for="CategoryId" class="control-label"></label>
                                    <p class="form-control">
                                        @Model.Category.Name
                                    </p>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Description" class="control-label"></label>
                                    <textarea asp-for="Description" class="txtEditor"></textarea>
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Information" class="control-label"></label>
                                    <textarea asp-for="Information" class="txtEditor"></textarea>
                                    <span asp-validation-for="Information" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Reviews" class="control-label"></label>
                                    <textarea asp-for="Reviews" class="txtEditor"></textarea>
                                    <span asp-validation-for="Reviews" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <a class="btn btn-warning" asp-action="edit" asp-route-id="@Model.Id">Edit</a>
                                    <a class="btn btn-info" asp-action="index">Back to List</a>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-12 col-md-6">
                            <div class="imager-container" id="viewer1" name="files">
                                @if (images != null)
                                {
                                    @foreach (var item in images)
                                    {
                                        <label thumb-url='/uploads/images/products/@item.ImagePath' image-id="@item.Id" checked="@item.IsMain"></label>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section addcss {
    <link rel="stylesheet" href="~/lib/jquery-image-input/image-input.css" />
    <link href="~/lib/jquery-imager/imager.css" rel="stylesheet" />
}

@section addjs {

    <script src="~/lib/jquery-image-input/jquery.image-input.js"></script>
    <script src="~/lib/jquery-imager/imager.js"></script>
    <script src="~/lib/ckeditor5/ckeditor.js"></script>
    <script class="removeable">$(document).ready(function () {
            var allEditors = document.querySelectorAll('.txtEditor');
            for (var i = 0; i < allEditors.length; ++i) {
                ClassicEditor.create(allEditors[i])
                    .then(editor => {
                        editor.isReadOnly = true;
                    });
            }
            $('#viewer1').imgadd({
                tnWidth: '120px',
                tnHeight: '120px',
                fontSize: '55px',
                plusInnerHtml: '',
                plusBtnClass: undefined,
                readonly: true
            });
        });</script>
}

